html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.contacts {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    background-image: url(/images/img/Frame-4522-mob-1x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    background-image: url(/images/img/Frame-4522-tab-1x.jpg);
    padding-left: 40px;
    padding-right: 40px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    background-image: url(/images/img/Frame-4522-tab-2x.jpg);
    max-width: 1280px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  img {
    width: 688px;
  }
}
@media screen and (min-width: 1280px) {
  img {
    width: 1200px;
  }
}
@media screen and (min-width: 1280px) {
  img {
    width: 1200px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .contacts__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1280px) {
  .section__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
}

.feedback__list {
  margin-top: 16px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;
  width: 296px;
  height: 76px;
}
@media screen and (min-width: 768px) {
  .feedback__list {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1.17;
    width: 496px;
    height: 112px;
  }
}
@media screen and (min-width: 1280px) {
  .feedback__list {
    margin-top: 59px;
  }
}
@media screen and (min-width: 1280px) {
  .feedback__list {
    margin-top: 59px;
  }
}

.feedbac__text {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .contacts__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 34px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__wrap {
    display: inherit;
  }
}

.contacts__list {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__list {
    margin-bottom: 40px;
  }
}

.contacts__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #8d9289;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 24px;
    line-height: 1.17;
  }
}

.mail {
  color: #ffffff;
}

.contacts__link:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__tel {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__tel {
    margin-bottom: 0;
  }
}

.contacts__num {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #8d9289;
}
@media screen and (min-width: 768px) {
  .contacts__num {
    font-size: 24px;
    line-height: 1.17;
  }
}

.text {
  color: #ffffff;
}

.contacts__num:not(:last-child) {
  margin-bottom: 8px;
}

.registr__form {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .registr__form {
    margin-left: 49px;
    margin-right: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .registr__form {
    margin-left: 100px;
    margin-right: 0;
    margin-top: 57px;
  }
}

.registr__form__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 16px;
  color: #86e543;
}
@media screen and (min-width: 768px) {
  .registr__form__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 48px;
  }
}

.registr__form__group {
  width: 298px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .registr__form__group {
    margin: auto;
    margin-bottom: 50px;
    width: 589px;
  }
}

.registr__field {
  display: block;
  position: relative;
}

.registr__lable {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: block;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 4px;
  color: #ffffff;
}

.registr__input {
  width: 100%;
  height: 24px;
  background: transparent;
  border: transparent;
  border-bottom: 1px solid #86e543;
  margin-bottom: 44px;
}
.registr__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}
.registr__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}
.registr__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}
.registr__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}
.registr__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .registr__input::-webkit-input-placeholder {
    font-size: 18px;
  }
  .registr__input::-moz-placeholder {
    font-size: 18px;
  }
  .registr__input:-ms-input-placeholder {
    font-size: 18px;
  }
  .registr__input::-ms-input-placeholder {
    font-size: 18px;
  }
  .registr__input::placeholder {
    font-size: 18px;
  }
}

.registr__message {
  width: 100%;
  background: transparent;
  border: transparent;
  border: 1px solid #86e543;
}
.registr__message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: #CDCDCD;
}
.registr__message::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: #CDCDCD;
}
.registr__message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: #CDCDCD;
}
.registr__message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: #CDCDCD;
}
.registr__message::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: #CDCDCD;
}
@media screen and (min-width: 768px) {
  .registr__message::-webkit-input-placeholder {
    font-size: 18px;
  }
  .registr__message::-moz-placeholder {
    font-size: 18px;
  }
  .registr__message:-ms-input-placeholder {
    font-size: 18px;
  }
  .registr__message::-ms-input-placeholder {
    font-size: 18px;
  }
  .registr__message::placeholder {
    font-size: 18px;
  }
}

.registr__btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: transparent;
  width: 173px;
  height: 51px;
  border: 1px solid #ffffff;
  border-radius: 16px;
  margin-left: 60px;
}
@media screen and (min-width: 768px) {
  .registr__btn {
    margin-left: auto;
    margin-right: auto;
    width: 306px;
    height: 70px;
    margin-left: 150px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .registr__btn {
    margin: 0;
  }
}

.registr__btn__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .registr__btn__text {
    font-size: 32px;
    line-height: 1.19px;
  }
}

.subtitle {
  margin-bottom: 35px;
  margin-left: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.18;
    margin-bottom: 67px;
    margin-left: 99px;
  }
}
@media screen and (min-width: 1280px) {
  .subtitle {
    margin-left: 142px;
    margin-bottom: 75px;
  }
}/*# sourceMappingURL=main.css.map */