.hero__btn {
    background: var(--accent-cl);
    border-radius: 4px;
    padding: 10px 32px;
    border: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
}

.hero__btn__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--txt-but);
}

.registr__btn {
    background: var(--accent-cl);
    border-radius: 4px;
    padding: 10px 32px;
    border: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
}

.registr__btn__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--txt-but);
}

.subscribe__form--btn {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: var(--accent-cl);
    border-radius: 4px;
    border: 1px solid var(--accent-cl);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: left;
    letter-spacing: 0.06em;
    padding: 10px 28px;
    color: var(--txt-but);

    @media screen and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.filtr-btn {
    font-family: inherit;
    background: var(--backgr-filtr);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--subtitle-col);
    cursor: pointer;
    border-color: transparent;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funcion);

    &:hover,
    &:focus {
            color: var(--txt-but);
            background-color: var(--accent-cl);
            box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
                0px 2px 2px rgb(0 0 0 / 12%);
        }

}

.openmobmenu {

    @media screen and (max-width: 767px) {
    background-color: rgba(0, 0, 0, 0);
        border: 0;
        padding: 0;
        line-height: 0;
        justify-content: center;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
    
}

.closemobmenu {
@media screen and (max-width: 767px) {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        padding: 0;
        line-height: 0;
        position: absolute;
        top: 10px;
        right: 15px;
        fill: var(--subtitle-col);
    }

        & :hover 
        & :focus {
        color: var(--accent-cl);
        }
}
