.mobile-menu.is-open {
    
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    
}

.mobile-menu {

    @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
    
}

.mobile-menu-container {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
}

.burgeropen {
    @media screen and (max-width: 767px) {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-25%);
        }
}

.mobmenu__navlink {
@media screen and (max-width: 767px) {
    
    margin-bottom: 50px;
}

}

     
.mobmenu__navlist:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }
}

.mobmenu__link {
    @media screen and (max-width: 767px) {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        text-align: left;
        letter-spacing: 0.02em;
        color: var(--subtitle-col);

        & :hover,
        & :focus {
                color: var(--accent-cl);
            }
    }
        
}

.mobmenu__contacts-list {
    @media screen and (max-width: 767px) {
        margin-bottom: 64px;
    }
}

.mobmenu__contacts:not(:last-child) {
    @media screen and (max-width: 767px) {
    margin-bottom: 32px;
    }
}

.mobmenu-contact {
    @media screen and (max-width: 767px) {
    font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--txt-col);
    & :hover,
    & :focus {
            color: var(--accent-cl);
        }
    }

        
}
 
.mobmenu__social-list {
     @media screen and (max-width: 767px) {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        
     }
}

.mobmenu__social-link:not(:last-child) {
    @media screen and (max-width: 767px) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
    }      
    
}

.mobmenu__social-item {

    font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--accent-cl);

    @media screen and (min-width:480px) and (max-width: 767px) {
    font-size: 18px;
    }
}


