
    // breakpoints:
    // mobile - 480px
    // tablet - 768px
    // desktop - 1280px
    
    

.contacts {
    width: 100%;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(/images/img/Frame-4522-mob-1x.jpg);
        }
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;

    @media screen and (min-width: 768px) {
        background-image: url(/images/img/Frame-4522-tab-1x.jpg);
        padding-left: 40px;
        padding-right: 40px;
        max-width: 768px;
    }

    @media screen and (min-width: 1280px) {
        background-image: url(/images/img/Frame-4522-tab-2x.jpg);
        max-width: 1280px;
                
    }
}

