h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

*,
*::before,
*::after {
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list {
    margin: 0;
    padding: 0;

    // tablet styles - 768px
    @media screen and (min-width: 768px) {
    display: flex;
    }
}
