:root {
    /* Fonts */

    /* Text colors */
    --subtitle-col: #212121;
    --txt-col: #757575;
    --txt-but: #ffffff;

    /* Background colors */
    --main-cl: #f5f5f5;
    --backgr-filtr: #f5f4fa;
    --backgr-col: #2f303a;
    --icon-cl: #afb1b8;
    

    /* Other */
    --accent-cl: #2196f3;
    --timing-funcion: cubic-bezier(0.4, 0, 0.2, 1);
}

a {
    text-decoration: none;
}

