
.contacts__main {
    @media screen and (min-width: 1280px) {
        display: flex;
        flex-wrap: wrap;

    }
}


.section__wrap {
    @media screen and (min-width: 1280px) {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
    
        }
}


.feedback__list {
    margin-top: 16px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

    color: #ffffff;
    width: 296px;
    height: 76px;

    @media screen and (min-width: 768px) {
        margin-top: 32px;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 1.17;
        width: 496px;
        height: 112px;

    }
@media screen and (min-width: 1280px) {
    margin-top: 59px;
}



    @media screen and (min-width: 1280px) {
        margin-top: 59px;
    }

}

.feedbac__text {
    margin-bottom: 24px;
}

.contacts__wrap {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 34px;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        display: inherit;
    }
}

.contacts__list {
    
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 40px;
    }
}

.contacts__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #8d9289;

    @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
    }
}

.mail {
    color: #ffffff;
}

.contacts__link:not(:last-child) {
    margin-bottom: 8px;
}

.contacts__tel {
    
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
        // @media screen and (min-width: 1280px) {
        //     margin-bottom: 24px;
        // }
}

.contacts__num {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #8d9289;

    @media screen and (min-width: 768px) {
            font-size: 24px;
            line-height: 1.17;
        }
}

.text {
    color: #ffffff;
}

.contacts__num:not(:last-child) {
    margin-bottom: 8px;
}

.registr__form {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        margin-left: 49px;
        margin-right: 48px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 100px;
        margin-right: 0;
        margin-top: 57px;
    }
}

.registr__form__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 16px;
    color: #86e543;

    @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 48px;
    }
}

.registr__form__group {
    width: 298px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin: auto;
        margin-bottom: 50px;
        width: 589px;
    }
}

.registr__field {
    display: block;
    position: relative;
}

.registr__lable {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: block;
    text-align: left;
    text-transform: capitalize;

    margin-bottom: 4px;
    color: #ffffff;
}

.registr__input {
    width: 100%;
    height: 24px;
    background: transparent;
    border: transparent;
    border-bottom: 1px solid #86e543;
    margin-bottom: 44px;

    &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            color: #ffffff;
    
            @media screen and (min-width: 768px) {
                font-size: 18px;
            }
        }

}



.registr__message {
    width: 100%;
    background: transparent;
    border: transparent;
    border: 1px solid #86e543;

    &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.14;
            color: #CDCDCD;
    
            @media screen and (min-width: 768px) {
                font-size: 18px;
            }
        }
}



.registr__btn {
    // display: flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: transparent;
    width: 173px;
    height: 51px;
    border: 1px solid #ffffff;
    border-radius: 16px;

    margin-left: 60px;

    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        width: 306px;
        height: 70px;
        margin-left: 150px;
        text-align: center;
        display: flex;
        flex-direction: row;

    }

    @media screen and (min-width: 1280px) {
        margin: 0;
    }
}

.registr__btn__text {
    // width: 41px;
    // height: 19px;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19px;
    text-align: right;
    text-transform: uppercase;


    color: #ffffff;

    @media screen and (min-width: 768px) {
        font-size: 32px;
        line-height: 1.19px;
        // width: 82px;
        // height: 38px;
            
        
    }
}


