.pref__list {
margin: 0;
padding: 0;


@media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
}

.pref__picture {
    display: flex;
    background-color: var(--backgr-filtr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.pref__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--subtitle-col);
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;  
    }
}

.pref__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--txt-col);
    margin: 0;
}

.pref__item {
    max-width: 450px;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
        margin: 0 auto;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    
   

    // tablet styles - 768px
    
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            flex-basis: calc((100% - 30px) / 2);
            
            
        }
    

    // desktop styles - 1200px

    @media screen and (min-width: 1200px) {
        
    &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

